page-catalogo {
    //text-align: center;
    #cuerpo{
        text-align: center;
    }
    #macaco{
        width: 100%;
        height: 25%;
    }
    #logo{
        width: 257px;
        height: 101px;
    }
    #logo2{
        width: 296px;
        height: 101px;
    }
}
